/* global css styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}
body {
  overflow-x: hidden;
}
ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0;
}

a,
button {
  color: inherit;
}
a {
  text-decoration: none;
}
button {
  background: none;
  cursor: pointer;
}
input {
  -webkit-appearance: none;
}
label {
  cursor: pointer;
}
input[type='placeholder'] {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}
button,
input {
  border: none;
}
